# whitelist style
*

# root files
!/README.md
!/LICENSE
!/.gitignore
!/secrets.template

# track scripts
!/scripts/
!/scripts/**

# track data/
!/data/
!/data/prompts/
!/data/prompts/**
!/data/searxng/
!/data/searxng/settings.yml.template
!/data/searxng/limiter.toml
!/data/obsidian/
!/data/obsidian/.gitkeep

# track placeholders
!/data/models/
!/data/models/.gitkeep
!/data/models/imports/
!/data/models/imports/.gitkeep
!/data/openwebui/
!/data/openwebui/.gitkeep
!/logs/
!/logs/.gitkeep

# nevertrack, regardless of above
secrets
*.env
*.env.*
*.bak
